$text-color: #fdfdfd;

.chat-block {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2a2a2a;
  border-radius: 20px;
  width: 900px;
  height: 800px;
  max-height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .chat-title {
    position: sticky;
    top: 0;
    z-index: 2;
    opacity: 0.9;
    background-color: #454545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: $text-color;

    p:last-child {
      color: #ff9c00;
      font-weight: 700;
    }
  }

  .message-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;

    .your-message {
      justify-content: flex-start;
    }

    .other-message {
      justify-content: flex-end;
    }

    ul {
      display: flex;
      width: 100%;
      .your-color {
        background-color: #02b5ff;
      }

      .other-color {
        background-color: #ff9900;
      }

      li {
        width: 50%;
        position: relative;
        padding: 10px 20px 20px 20px;
        margin: 20px 0;
        border-radius: 30px;
        color: $text-color;
        font-size: 19px;
        word-wrap: break-word;
        line-height: 130%;
        font-weight: 700;

        @media (max-width: 700px) {
          width: 65%;
          font-size: 16px;
        }

        @media (max-width: 500px) {
        }

        .time-block {
          position: absolute;
          bottom: 0;
          right: 25px;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 700;
        }

        .name-block {
          color: $text-color;
          font-weight: 800;
        }
      }
    }
  }

  .block-message {
    position: sticky;
    bottom: 10px;
    left: 0;
    display: flex;
    align-items: center;
    margin: 10px;

    textarea {
      height: 66px;
      border-radius: 10px;
      padding: 10px;
      max-height: 250px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      color: $text-color;
      opacity: 0.8;
      background-color: #454545;
      resize: none;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    button {
      position: absolute;
      cursor: pointer;
      right: 20px;
      bottom: 17px;
      background: #1c1c1c;
      border-radius: 50%;
      padding: 10px;
      border: none;

      svg {
        color: $text-color;
      }
    }
  }
}
